/* Application */

.application-header {
	height: 50px;
	width: 100%;
	background: #0066FF;
}

.application-footer {
	height: 50px;
	width: 100%;
	background: #0066FF;
}

.application-header-text {
	color: white;
	width: 300;
	font-size: x-large;
}

.application-content {
	background: white;
}

.application-footer-text {
	color: white;
	width: 300;
	font-size: x-large;
}

/* Model */

.model-header {
	height: 80px;
	width: 100%;
	background: #0066FF;
}

.model-title {
	width: 100%;
	height: auto;
	color: white;
	font-size: x-large;
}

.model-title-description {
	width: 100%;
	height: auto;
	color: white;
}

.model-apply-button {
	color: white;
	height: 30px;
	background:  #0066FF;
	width: 100%;
	border: 1px solid #0066FF;
}

.model-apply-button:hover {
	background:  #4691FF;
}

/* Parameters */

.parameters-model-name-label {
	font-size: x-large;
}

/* General */

.default-menu-bar {
	cursor: default;
	text-align: center;
}

.default-menu-bar .gwt-MenuItem {
	text-align: center;
	font-size: medium;
	cursor: default;
	color: white;
	height: 50px;
	width: 100px;
}

.default-menu-bar .gwt-MenuItem-selected {
	background: #4691FF;
}

.default-button {
	color: #0066FF;
	text-align: center;
	padding: 5px;
	background: white;
	font-size: medium;
	border: 3px solid #0066FF;
}

.default-button:hover {
	background: #0066FF;
	color: white;
}